@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.task-list-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.task-card {
  margin-bottom: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.task-filters {
  margin: 20px 0;
}

mat-form-field {
  margin-bottom: 16px;
}
